 CONTROL STATEMENTS : flow of outputs

 - pass
 - continue
 - break

In [1]:
# for pass examples

In [4]:
for i in range (1,5):
  if i == 2:
    pass
for i in range (1,5):
  if i == 2:
    pass
  else:
    print(i)

1
3
4

In [7]:
for tup in ("apple","cherry","berry"):
    if tup =="cherry":
        continue
    else:
        print(tup)

apple
berry

In [8]:
# for continue example

In [9]:
for i in range (1,10):
  if i==4:
    continue
  else:
    print(i)

1
2
3
5
6
7
8
9

In [10]:
for tup in ("honey","oats","milk"):
  if tup == "oats":
    continue
  else:
    print(tup)

honey
milk

In [11]:
# for break examples

In [12]:
for i in range(1,34):
  if i ==10:
    break
  else:
    print(i)

1
2
3
4
5
6
7
8
9

In [13]:
for string in "hello":
  if string =="o":
    break
  else:
    print(string)

h
e
l
l