LOOP STATEMENTS:

- while : iterating with values
- for : iterating in a squence

In [1]:
i = 0
while i <= 5:
  print(i)
  i = i + 1

0
1
2
3
4
5

In [2]:
i = 5
while i <= 100:
  print(i)
  i = i + 10

5
15
25
35
45
55
65
75
85
95

In [3]:
# for loop examples

In [4]:
age = [13,15,27,36,32]
for i in age:
  print("my age is" ,i)

my age is 13
my age is 15
my age is 27
my age is 36
my age is 32

In [ ]:
# for string example

In [5]:
str = "python"
for y in str:
  print(y)

p
y
t
h
o
n

In [6]:
# for tup example

In [7]:
tup = ("apple","nuts","milk","honey")
for nuts in tup:
  print(nuts)

apple
nuts
milk
honey

In [8]:
st = [1,2,3,4,5,6,7,8,9,10,12,14,16,18,20]
for i in st:
  print(i)

1
2
3
4
5
6
7
8
9
10
12
14
16
18
20

In [9]:
# for dictionary examples

In [11]:
dict1 = {"name":"meghana","age":"19","place":"hyderabad"}
for key,value in dict1.items():
  print(key,value)

name meghana
age 19
place hyderabad

In [12]:
# using f format

In [13]:
dict1 = {"name":"meghana","age":"19","place":"hyderabad"}
for key,value in dict1.items():
  print(f"my key is {key} and value is {value}")

my key is name and value is meghana
my key is age and value is 19
my key is place and value is hyderabad

In [14]:
for i in range (1,13):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12