# PYTHON OPERATORS

In [ ]:
- There are 7 types of python operators

In [ ]:
- arthimetic operators
- assignment operators
-  comparison operators
- logical operators
- identity operators
- membership operators
- bitwise operators

In [ ]:
- arthimetic operators

In [3]:
a = 22
b = 4
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a&b)
print(a**b)
print(a//b)

26
18
88
5.5
4
234256
5

In [ ]:
- comparison operator : it is used to compare two values

In [6]:
a= 13
b = 5
print(a==b)
print(a!=b)
print(a>b)
print(a<=b)

False
True
True
False

In [ ]:
- assignment operator : it is combination of both assignment and arthimetic operator

In [9]:
a = 22
b = 13
a+=b
print(a)

35

In [10]:
a*=b
print(a)

455

In [11]:
a/=b
print(a)

35.0

In [12]:
a%=b
print(a)

9.0

In [13]:
a**b
print(a)

9.0

logical operator: either one should be satisfy.

In [24]:
# and : returns true if both statements are true
# or  : returns true if one of the statements is true
# not : reverse the result, returns false if the result is true

In [27]:
True
True
False

False

In [ ]:
- Identity operator : used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location

is : true if both variables are same objects

is not : true if both variables are not same objects

In [28]:
a = 13
b = 15
print(a is b)
print(a is not b)

False
True

In [ ]:
- memberahip operator : used to identify the sequence of the elements


in:

not in

In [29]:
 a = [1,2,3,4,5,6]
 print(1 in a)
 print(1 not in a)

True
False

In [ ]:

- bitwise operator : used to compare numbers


. &(AND)
.| (Or)
. ^(XOR)
.~(NOT)
.<<(LEFT SHIFT)
.>>(RIGHT SHIFT)

In [30]:
a = 22
b = 15
print(a&b)
print(a|b)
print(a^b)
print(~a)
print(a<<2)
print(a>>2)
print(b>>2)
print(b<<2)

6
31
25
-23
88
5
3
60