# Q. WHAT IS PYTHON ?
 - Python is a programming language
 - it is easily understand by human language
 - it is connected to database
 - it is used to build in web applications

# Q. WHAT ARE THE KEY FEATURES OF PYTHON ?
-  Easy to learn
- high level programming language
- readability
- simple to use

# Q. HOW IS PYTHON DIFFERENT FROM OTHER PROGRAMMING LANGUAGES ?

- Python's syntax is designed to be easy to read and write .it can easily understand to human beings and it is easy to use where as compared to other languages.python is excuted line by line.

# Q. WHAT ARE PYTHON DATA TYPES ?

Python's datatypes are classified of two types
- basic
- advance

basic
- integer
- float
- complex
- boolean


advance
- list
- string
- set
- tuple
- dicitionary

Q. WHAT IS THE DIFFERENCE BETWEEN LIST AND TUPLE ?

LIST:
- it is used to store collections of items
- defined by using [ ]
- it is mutable
- it can be update ,modify,edit



tuple:
- it is also used to store collection of items
- defined by using parenthes ( )
- it is inmutable
- it can't be update, modify,edit

Q. HOW DO YOU COMMENT IN PYTHON ?

We use comments by using the symbols ' ' or " " or triple quatitions. and use hastags #

Q. WHAT IS THE DIFFERENCE BETWEEN BREAK,CONTINUE AND PASS ?

Break : it stops the sequence

continue : skips the current and continues from there

pass : it doesnt perform any function.

Q.WHAT IS THE DIFFERENCE BETWEEN IS AND == ?
-  IS : it is identity operator
- used to compare identities not values

==: equality operator
- checks whther the values are equal or not

CODING QUESTIONS ?

In [ ]:
Q.PYTHON CODE TO REVERSE A STRING ?

In [ ]:
str = "meghana"
print(str[::-1])

anahgem

Q.CHECK IF A NUMBER IS EVEN OR ODD ?

In [ ]:
a = int(input("enter a number"))
if a%2==0:
  print("even number")
else:
  print("odd number")

enter a number15
odd number

Q.CHECK IF A STRING IS A PALINDROME ?

In [20]:
str = input("enter a string:")
str1 = str[::-1]
if (str==str1):
  print("palindrome")
else:
  print("not palindrome")

enter a number:
palindrome

Q. CALCULATE THE FACTORIAL OF A NUMBER ?

In [22]:
i = int(input("enter a number"))
fact=1
while(i>0):
  fact=fact*i
  i=i-1
  print(fact)

enter a number6
6
30
120
360
720
720

Q REMOVE DUPLICATES FROM A LIST?

In [23]:
list = [1,2,3,4,1,2,3,4]
list.remove(1)
list.remove(2)
list.remove(3)
list.remove(4)
print(list)

[1, 2, 3, 4]

Q FIND THE COMMON ELEMENTS IN TWO LISTS?

In [24]:
a = [12,34,23,67,56,5,8,3]
b = [34,8,67,56,2,4,9,7]
for i in a:
  if i in b:
    print(i)

34
67
56
8